{% extends "base.html" %}
{% block title %}Administração{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
{% endblock %}
{% block content %}
<div class="back_adm">
    <div class="container_admin">
        <h2>Área Administrativa</h2>

        <div class="admin_layout">
            <nav class="sidebar">
                <a href="{{ url_for('home') }}" class="btn">Sair</a>
                <a href="{{ url_for('clientes.cadastrar_cliente') }}" class="btn">Cadastrar Cliente</a>
                <a href="{{ url_for('clientes.listar_clientes') }}" class="btn">Listar Clientes</a>
                <a href="{{ url_for('servicos.cadastrar_servico') }}" class="btn">Cadastrar Serviço</a>
                <a href="{{ url_for('servicos.listar_servicos') }}" class="btn">Listar Serviços</a>
                <a href="{{ url_for('materiais.cadastrar_material') }}" class="btn">Cadastrar Material</a>
                <a href="{{ url_for('materiais.listar_materiais') }}" class="btn">Listar Materiais</a>
                <a href="{{ url_for('pedidos.listar_pedidos') }}" class="btn">Pedidos</a>
            </nav>

            <main class="main_panel">
                <p>Bem-vindo à área administrativa. Use o menu à esquerda para gerenciar clientes e serviços.</p>
            </main>
        </div>

    </div>
</div>
{% endblock %}