<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Cadastro Serviço</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_servico.css') }}">

</head>

<body class="back_adm">
  <h1>Cadastrar Serviço</h1>
  <form method="post" action="{{ url_for('servicos.cadastrar_servico') }}">
    <label>Nome do cliente</label><input name="nome_cliente" required>
    <label>Tipo</label><input name="tipo_servico" required>
    <label>Descrição</label><textarea name="descricao" required></textarea>
    <button type="submit">Salvar</button>
  </form>
  <div class ="baixo">
    <a href="{{ url_for('servicos.listar_servicos') }}" class="btn_baixo">Ver serviços</a>
    <a href="{{ url_for('admin_dashboard') }}" class="btn_baixo">Voltar</a>
  </div>
</body></html>
