{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listar_clientes.css') }}">
  <h1>Lista de Clientes</h1>
  <table>
    <thead><tr><th>ID</th><th>Nome</th><th>Email</th><th>Ações</th></tr></thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.email }}</td>
        <td>
          <form method="post" action="{{ url_for('clientes.excluir_cliente', id=c.id) }}" style="display:inline">
            <button type="submit">Excluir</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('admin_dashboard') }}" class="btn_baixo" style="position:fixed;bottom:30px;left:30px;z-index:100;">Voltar</a>
{% endblock %}
